.mobile-about-page {
  .function-tree-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(3.8);
  }
.center-about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 
.center-image{
  width: 100%;
  padding: 7px 5px 7px 5px;
}
.crafted-1{
  margin-top: 45px;
}
.sky-button{
  height: 41px;
  width: 170px;
  background-color: #5A61FF;
  border-radius: 23px;
  border: none;
  margin-top: -89px;
  z-index: 1212;
  color: white;
  white-space: nowrap;
  font-family: figtree;
  font-weight: 600;
  font-size: 14px;

}

.footer-ha{
  margin-top: 83px;

}

.elavate{
  margin-top: 25px;

}
.apps{
  margin-top: 10px;

}
.product{
  margin-top: 4px;

}
  .organization-name {
    height: 149px;
    width: 149px;
    position: absolute;
    margin: 0 !important;
    top: 3px;
    left: 30px;
    border-radius: 50%;
    background-color: var(--color-plum-100);
  }
  .wrapper-function-tree {
    width: 250px;
    height: 250px;
    position: absolute;
    margin: 0 !important;
    top: 111px;
    right: -63px;
    border-radius: 20.51px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  .function-tree-icon1 {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(3.8);
  }
  .wrapper-function-tree1 {
    width: 250px;
    height: 250px;
    position: absolute;
    margin: 0 !important;
    top: 101px;
    left: -76px;
    border-radius: 20.51px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .a-versatile-design,
  .where-creativity {
    margin: 0;
  }
  .knows-no-bounds {
    margin: 0;
    background: linear-gradient(91.04deg, #bcff2d, #ffe9b3 49.48%, #9537cf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .a-versatile-design-container {
    margin: 0 !important;
    width: 325px;
    position: absolute;
    bottom: -16.5px;
    // left: 12px;  
    font-size: inherit;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    z-index: 1;
  }
  .layer-1-icon6 {
    align-self: stretch;
    height: 23px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
  }
  .layer-1-wrapper1 {
    width: 102px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs) 0 0;
    box-sizing: border-box;
  }
  .frame-child72 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-darkslateblue-300);
    border: 0 solid var(--color-darkslateblue-200);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .essetionalmenu-icon3 {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 21px;
    height: 21px;
    z-index: 1;
  }
  .ellipse-parent6 {
    height: 37px;
    width: 37px;
    position: relative;
  }
  .frame-parent48 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .marasih-design-studio {
    white-space: nowrap;
    // width: 176px;
    position: relative;
    text-transform: uppercase;
    font-weight: 800;
    background: linear-gradient(180deg, #5f5f5f, #fff 41.15%, #3f3e3e),
      linear-gradient(90.06deg, #fff, #b4b4b4 48.96%, #fff), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    z-index: 1;
  }
  .frame-parent47,
  .marasih-design-studio-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
   }
  .marasih-design-studio-wrapper {
    align-self: stretch;
    flex-direction: row;
    // padding: 0 var(--padding-56xl) 0 74px;
  }
  .frame-parent47 {
    flex: 1 1;
    flex-direction: column;
    gap: var(--gap-31xl);
    max-width: 100%;
  }
  .a-versatile-design-studio-whe-parent,
  .frame-wrapper19 {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    max-width: 100%;
  }
  .frame-wrapper19 {
    flex: 1;
    justify-content: center;
    padding: 0 var(--padding-xs) 82.5px 0;
    font-size: 14px;
  }
  .a-versatile-design-studio-whe-parent {
    align-self: stretch;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 var(--padding-xs);
    position: relative;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-figtree);
  }
  .we-dont-just {
    align-self: stretch;
    position: relative;
    line-height: 18px;
    font-weight: 500;
    z-index: 1;
  }
  .frame-child73 {
    height: 48px;
    width: 215px;
    position: relative;
    border-radius: 33.73px;
    background-color: var(--color-mediumslateblue-600);
    border: 0.8px solid var(--color-mediumslateblue-500);
    box-sizing: border-box;
    display: none;
  }
  .lets-create-special1 {
    position: relative;
    font-size: var(--font-size-2xs-7);
    font-weight: 600;
    font-family: var(--font-plus-jakarta-sans);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 101px;
  }
  .lets-create-special-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.6999999999999318px 0 0;
  }
  .emoji-shooting-star {
    height: 17.3px;
    width: 17.4px;
    position: relative;
    object-fit: contain;
    min-height: 17px;
  }
  .frame-parent49 {
    cursor: pointer;
    border: 0;
    padding: 10.100000000000025px var(--padding-13xl) 10.300000000000068px
      38.30000000000109px;
    background-color: var(--color-mediumslateblue-200);
    flex: 1;
    border-radius: 38.32px;
    display: flex;
    align-items: center;
    gap: var(--gap-xs-5);
    z-index: 1;
  }
  .frame-parent49,
  .logic-gate,
  .rectangle-parent39 {
    flex-direction: row;
    justify-content:center;
  }
  .rectangle-parent39 {
    flex: 1;
    border-radius: 33.73px;
    background-color: var(--color-mediumslateblue-600);
    border: 0.8px solid var(--color-mediumslateblue-500);
    display: flex;
    align-items: flex-start;
    padding: var(--padding-8xs) 7.299999999999272px 5.2999999999999545px;
    z-index: 1;
  }
  .logic-gate {
    align-self: stretch;
padding: 10%;  }
  .function-stack,
  .logic-gate,
  .rule-engine {
    display: flex;
    align-items: flex-start;
  }
  .rule-engine {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-15xl);
  }
  .function-stack {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-13xl) var(--padding-11xl);
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--color-gainsboro-100);
    font-family: var(--font-figtree);
  }
  .frame-child74 {
    height: 287px;
    width: 287px;
    position: relative;
  }
  .contact-us-inner13 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-12xl);
  }
  .our-story {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(180deg, #5f5f5f, #fff 41.15%, #3f3e3e),
      linear-gradient(90.06deg, #fff, #b4b4b4 48.96%, #fff), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 83px;
  }
  .connection-point {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .a-tale-of,
  .marasih-design-studio1 {
    align-self: stretch;
    position: relative;
  }
  .a-tale-of {
    margin: 0;
    font-size: 31px;
    line-height: 40.5px;
    font-weight: 500;
    font-family: inherit;
    background: linear-gradient(90.03deg, #715aff, #fff), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .marasih-design-studio1 {
    font-size: var(--font-size-xs);
    line-height: 18px;
  }
  .a-tale-of-our-design-studio-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8.699999999999989px;
    text-align: center;
    font-size: var(--font-size-8xl);
    font-family: var(--font-figtree);
  }
  .connection-point-parent,
  .contact-us-inner14 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .connection-point-parent {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 13.300000000000011px;
  }
  .contact-us-inner14 {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 var(--padding-xs) 20.5px;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-lg);
    color: #e6e6e6;
    font-family: var(--font-space-grotesk);
  }
  .frame-child75 {
    width: 135.2px;
    height: 135.4px;
    position: absolute;
    margin: 0 !important;
    top: 0;
    left: 0;
    object-fit: contain;
  }
  .frame-child76,
  .mask-group-icon12 {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .frame-child76 {
    border-radius: 23.59px;
    background-color: var(--color-gray-1100);
    backdrop-filter: blur(131.05px);
    border: 0.5px solid var(--color-mediumorchid);
    box-sizing: border-box;
    z-index: 1;
  }
  .mask-group-icon12 {
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 2;
  }
  .our-mission,
  .pixels-with-purpose {
    position: relative;
    display: inline-block;
    z-index: 3;
  }
  .our-mission {
    width: 154px;
    line-height: 34px;
    background: linear-gradient(90deg, #8a56dd, #ddc8ff), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .pixels-with-purpose {
    font-size: var(--font-size-mini-7);
    font-weight: 500;
    font-family: var(--font-figtree);
    text-align: left;
    min-width: 128px;
  }
  .frame-parent51 {
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 57.7px 47.20000000000073px 228.7px;
    box-sizing: border-box;
    position: relative;
    gap: 10.599999999999994px;
    max-width: 100%;
  }
  .frame-child77 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 313px;
    right: -326px;
    bottom: -313px;
    left: 326px;
    border-radius: 14.83px;
    background-color: var(--color-gray-1100);
    backdrop-filter: blur(82.4px);
    border: 0.5px solid var(--color-mediumorchid);
    box-sizing: border-box;
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .at-marasih-studio,
  .blank-line,
  .every-project-is {
    margin: 0;
  }
  .at-marasih-studio-container {
    flex: 1;
    position: relative;
    line-height: 18px;
    z-index: 1;
  }
  .frame-wrapper21,
  .rectangle-parent40 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-parent40 {
    flex: 1;
    padding: 30.30000000000001px 19.799999999999272px 30.700000000000045px;
    position: relative;
  }
  .frame-wrapper21 {
    align-self: stretch;
    padding: 0 0 0 1.3999999999996362px;
  }
  .instruction-set {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 477px;
    right: -326.6px;
    bottom: -477px;
    left: 327px;
    border-radius: 14px;
    background-color: var(--color-gray-1100);
    backdrop-filter: blur(131px);
    border: 0.5px solid var(--color-mediumorchid);
    box-sizing: border-box;
    transform: rotate(180deg);
    transform-origin: 0 0;
    z-index: 1;
  }
  .our-values {
    position: relative;
    line-height: 34px;
    background: linear-gradient(90deg, #8a56dd, #ddc8ff), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
  }
  .ethics-in-every {
    position: relative;
    font-size: var(--font-size-mini-7);
    font-weight: 500;
    font-family: var(--font-figtree);
    z-index: 2;
  }
  .our-values-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10.600000000000025px;
  }
  .data-aggregator-child,
  .data-aggregator-item {
    height: 109px;
    width: 108.9px;
    position: absolute;
    margin: 0 !important;
    top: 61px;
    object-fit: contain;
  }
  .data-aggregator-child {
    left: -14px;
  }
  .data-aggregator-item {
    right: -11px;
  }
  .at-marasih-studio1,
  .at-marasih-studio2,
  .blank-line1 {
    margin: 0;
  }
  .at-marasih-studio-container1 {
    flex: 1;
    position: relative;
    line-height: 18px;
    z-index: 2;
  }
  .data-aggregator,
  .instruction-set-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    font-size: var(--font-size-xs);
    color: var(--color-whitesmoke);
    font-family: var(--font-figtree);
  }
  .instruction-set-parent {
    flex-direction: column;
    padding: var(--padding-11xl) var(--padding-2xl) var(--padding-11xl)
      26.399999999999636px;
    gap: 30.399999999999977px;
    font-size: var(--font-size-8xl-3);
    color: var(--color-lightgray-100);
    font-family: var(--font-space-grotesk);
  }
  .frame-child78,
  .mask-group-icon13 {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .frame-child78 {
    border-radius: 23.36px;
    background-color: var(--color-gray-1100);
    backdrop-filter: blur(129.79px);
    border: 0.5px solid var(--color-slateblue);
    box-sizing: border-box;
    z-index: 1;
  }
  .mask-group-icon13 {
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 2;
  }
  .link-collector-child {
    height: 133.8px;
    width: 133.9px;
    position: absolute;
    margin: 0 !important;
    top: -57.1px;
    right: -46.7px;
    object-fit: contain;
  }
  .our-goals {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    line-height: 33px;
    font-weight: 700;
    font-family: inherit;
    background: linear-gradient(90deg, #8a56dd, #ddc8ff), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 124px;
    z-index: 3;
  }
  .link-collector {
    width: 124px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .aspirations-and-beyond {
    width: 155px;
    position: relative;
    font-size: var(--font-size-mini-5);
    font-weight: 500;
    font-family: var(--font-figtree);
    display: inline-block;
    z-index: 3;
  }
  .rectangle-parent41 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 57.09999999999991px 49.60000000000037px 226.79999999999995px;
    position: relative;
    gap: 11.100000000000136px;
    text-align: right;
    font-size: var(--font-size-8xl);
    color: var(--color-lightgray-100);
    font-family: var(--font-space-grotesk);
  }
  .pattern-matcher {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 295px;
    right: -326px;
    bottom: -295px;
    left: 326px;
    border-radius: 14.83px;
    background-color: var(--color-gray-1100);
    backdrop-filter: blur(82.4px);
    border: 0.5px solid var(--color-slateblue);
    box-sizing: border-box;
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .at-marasih-studio3,
  .blank-line2,
  .staying-at-the {
    margin: 0;
  }
  .at-marasih-studio-container2 {
    flex: 1;
    position: relative;
    line-height: 18px;
    z-index: 1;
  }
  .frame-wrapper22,
  .pattern-matcher-parent {
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .pattern-matcher-parent {
    flex: 1;
    display: flex;
    align-items: flex-start;
    padding: 30.299999999999955px 19.799999999999272px 30.700000000000045px;
    position: relative;
    max-width: 100%;
  }
  .frame-wrapper22 {
    align-self: stretch;
    padding: 0 0 0 1.3999999999996362px;
  }
  .frame-parent52,
  .frame-wrapper20,
  .frame-wrapper22 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent52 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
  }
  .frame-wrapper20 {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 var(--padding-7xs) 0 0;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-whitesmoke);
    font-family: var(--font-figtree);
  }
  .frame-parent50 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-2xl);
    max-width: 100%;
  }
  .contact-us-inner15 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-7xs) 29.5px var(--padding-3xs);
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-8xl-3);
    color: var(--color-lightgray-100);
    font-family: var(--font-space-grotesk);
  }
  .crafted-excellence {
    margin: 0;
    width: 164px;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(90.32deg, #fff, #a7afff 47.92%, #8b62ff), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  .data-sorter {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 81px 0 80px;
  }
  .marasih-studios-expertise {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-8xl-2);
    line-height: 40.73px;
    font-weight: 500;
    font-family: var(--font-figtree);
    background: linear-gradient(180deg, #5f5f5f, #fff 47.37%, #3f3e3e),
      linear-gradient(90.06deg, #fff, #b4b4b4 48.96%, #fff), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .sequence-controller {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-smi);
    text-align: center;
    font-family: var(--font-space-grotesk);
  }
  .pattern-validator {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 18.28px;
    background-color: var(--color-gray-1100);
    backdrop-filter: blur(120px);
    border: 0.5px solid var(--color-darkslateblue-100);
    box-sizing: border-box;
    z-index: 1;
  }
  .elevate-with-exceptional {
    position: relative;
    font-size: var(--font-size-base-4);
    line-height: 24px;
    font-weight: 500;
    background: linear-gradient(90.39deg, #fff, #a7afff 47.92%, #8b62ff), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
  }
  .value-enhancer-child {
    border-color: var(--color-gray-500);
    accent-color: #090909;
    cursor: pointer;
    margin: 0;
    height: 15.4px;
    width: 15.4px;
    min-height: 15px;
  }
  .user-experience-design1,
  .value-enhancer-child {
    position: relative;
    flex-shrink: 0;
    debug_commit: f6aba90;
    z-index: 2;
  }
  .value-enhancer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12.200000000000728px;
  }
  .user-interface-design1,
  .value-enhancer-item {
    position: relative;
    flex-shrink: 0;
    debug_commit: f6aba90;
    z-index: 2;
  }
  .value-enhancer-item {
    border-color: var(--color-gray-500);
    accent-color: #090909;
    cursor: pointer;
    margin: 0;
    height: 15.4px;
    width: 15.4px;
    min-height: 15px;
  }
  .user-interface-design1 {
    display: inline-block;
    min-width: 119px;
  }
  .value-enhancer1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs-2);
  }
  .interaction-design1,
  .value-enhancer-inner {
    position: relative;
    flex-shrink: 0;
    debug_commit: f6aba90;
    z-index: 2;
  }
  .value-enhancer-inner {
    border-color: var(--color-gray-500);
    accent-color: #090909;
    cursor: pointer;
    margin: 0;
    height: 15.4px;
    width: 15.4px;
    min-height: 15px;
  }
  .interaction-design1 {
    display: inline-block;
    min-width: 101px;
  }
  .value-enhancer2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12.200000000000728px;
  }
  .brand-identity,
  .value-enhancer-child1 {
    position: relative;
    flex-shrink: 0;
    debug_commit: f6aba90;
    z-index: 2;
  }
  .value-enhancer-child1 {
    border-color: var(--color-gray-500);
    accent-color: #090909;
    cursor: pointer;
    margin: 0;
    height: 15.4px;
    width: 15.4px;
    min-height: 15px;
  }
  .brand-identity {
    display: inline-block;
    min-width: 78px;
  }
  .value-enhancer3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12.200000000000728px;
  }
  .marketing-graphics,
  .value-enhancer-child2 {
    position: relative;
    flex-shrink: 0;
    debug_commit: f6aba90;
    z-index: 2;
  }
  .value-enhancer-child2 {
    border-color: var(--color-gray-500);
    accent-color: #090909;
    cursor: pointer;
    margin: 0;
    height: 15.4px;
    width: 15.4px;
    min-height: 15px;
  }
  .marketing-graphics {
    display: inline-block;
    min-width: 107px;
  }
  .value-enhancer4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12.200000000000728px;
  }
  .illustration-design,
  .parallel-controller-child {
    position: relative;
    flex-shrink: 0;
    debug_commit: f6aba90;
    z-index: 2;
  }
  .parallel-controller-child {
    border-color: var(--color-gray-500);
    accent-color: #090909;
    cursor: pointer;
    margin: 0;
    height: 15.4px;
    width: 15.4px;
    min-height: 15px;
  }
  .illustration-design {
    display: inline-block;
    min-width: 99px;
  }
  .parallel-controller {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs-2);
  }
  .social-media-branding,
  .value-comparer-child {
    position: relative;
    flex-shrink: 0;
    debug_commit: f6aba90;
    z-index: 2;
  }
  .value-comparer-child {
    border-color: var(--color-gray-500);
    accent-color: #090909;
    cursor: pointer;
    margin: 0;
    height: 15.4px;
    width: 15.4px;
    min-height: 15px;
  }
  .social-media-branding {
    display: inline-block;
    min-width: 121px;
  }
  .value-comparer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12.200000000000728px;
  }
  .email-marketing-design,
  .parallel-controller-item {
    position: relative;
    flex-shrink: 0;
    debug_commit: f6aba90;
    z-index: 2;
  }
  .parallel-controller-item {
    border-color: var(--color-gray-500);
    accent-color: #090909;
    cursor: pointer;
    margin: 0;
    height: 15.4px;
    width: 15.4px;
    min-height: 15px;
  }
  .email-marketing-design {
    display: inline-block;
    min-width: 129px;
  }
  .parallel-controller1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12.200000000000728px;
  }
  .column,
  .pattern-mapper {
    flex-shrink: 0;
    debug_commit: f6aba90;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 19.09999999999991px;
  }
  .pattern-mapper {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-plum-100);
  }
  .border-creator {
    height: 104.8px;
    width: 89.4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15.5px 0 0;
    box-sizing: border-box;
    min-width: 89.39999999999964px;
  }
  .geometry-checker,
  .pattern-validator-parent {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
  }
  .geometry-checker {
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .pattern-validator-parent {
    flex-direction: column;
    justify-content: flex-start;
    padding: 20.299999999999955px 0 0 20.299999999999272px;
    position: relative;
    gap: 19.149999999999903px;
  }
  .tree-reducer {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 18.28px;
    background-color: var(--color-gray-1100);
    backdrop-filter: blur(101.56px);
    border: 0.5px solid var(--color-gray-700);
    box-sizing: border-box;
    z-index: 1;
  }
  .industry-leading-tools1 {
    background: linear-gradient(90.28deg, #eecda3, #ee9ca1 45.83%, #ef629f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .proficiency-amplified-with-container1 {
    width: 188.5px;
    position: relative;
    line-height: 23.16px;
    font-weight: 500;
    display: inline-block;
    z-index: 2;
  }
  .sequence-joiner {
    position: absolute;
    top: 3px;
    left: 28.3px;
    border-radius: 50%;
    background-color: rgba(255, 154, 0, 0.25);
    filter: blur(20.5px);
    width: 15.5px;
    height: 15.6px;
  }
  .pattern-separator {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 9.75px;
    background-color: var(--color-lavender-300);
    border: 0.3px solid var(--color-mediumslateblue-400);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .adobe-illustrator-cc-icon-1 {
    position: absolute;
    top: 9.4px;
    left: 9.2px;
    width: 30.5px;
    height: 29.8px;
    object-fit: cover;
    z-index: 2;
  }
  .sequence-joiner-parent {
    height: 48.9px;
    flex: 1;
    position: relative;
    min-width: 32px;
    z-index: 2;
  }
  .frame-child79 {
    position: absolute;
    top: 28.7px;
    left: 28.3px;
    border-radius: 50%;
    background-color: rgba(49, 168, 255, 0.3);
    filter: blur(20.5px);
    width: 15.5px;
    height: 15.6px;
  }
  .frame-child80 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 9.75px;
    background-color: var(--color-lavender-300);
    border: 0.3px solid var(--color-mediumslateblue-400);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .adobe-photoshop-cc-icon-1 {
    position: absolute;
    top: 9.4px;
    left: 9.1px;
    width: 30.5px;
    height: 29.8px;
    object-fit: cover;
    z-index: 2;
  }
  .ellipse-parent7 {
    height: 48.9px;
    flex: 1;
    position: relative;
    min-width: 32px;
    z-index: 2;
  }
  .error-corrector {
    height: 69.2px;
    width: 69.1px;
    position: absolute;
    margin: 0 !important;
    bottom: -30.5px;
    left: -14.2px;
    border-radius: 50%;
    background-color: var(--color-plum-100);
  }
  .wrapper-group-34400-child {
    height: 100%;
    width: 100%;
    z-index: 2;
    object-fit: contain;
    position: absolute;
    left: -1px;
    top: -1px;
    transform: scale(1.74);
  }
  .wrapper-group-34400 {
    height: 48.9px;
    width: 48.8px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sub-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .frame-child81 {
    position: absolute;
    top: 1.5px;
    left: 2.5px;
    border-radius: 50%;
    background-color: rgba(153, 153, 255, 0.32);
    filter: blur(20.5px);
    width: 15.5px;
    height: 15.6px;
  }
  .frame-child82 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 9.75px;
    background-color: var(--color-lavender-300);
    border: 0.3px solid var(--color-mediumslateblue-400);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .adobe-after-effects-cc-icon-1 {
    position: absolute;
    top: 9.4px;
    left: 9.2px;
    width: 30.5px;
    height: 29.9px;
    object-fit: cover;
    z-index: 2;
  }
  .ellipse-parent8 {
    height: 48.9px;
    flex: 1;
    position: relative;
    min-width: 32px;
    z-index: 2;
  }
  .wrapper-group-34402-child {
    height: 100%;
    width: 100%;
    min-height: 49px;
    z-index: 2;
    object-fit: contain;
    position: absolute;
    left: -9px;
    top: 8px;
    transform: scale(1.359);
  }
  .wrapper-group-34402 {
    height: 48.9px;
    width: 48.8px;
    position: relative;
    min-height: 49px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .data-output,
  .empty-shape,
  .tree-reducer-parent {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .empty-shape {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12.150000000001px;
  }
  .data-output,
  .tree-reducer-parent {
    flex-direction: column;
  }
  .tree-reducer-parent {
    padding: 20.40000000000009px 12.100000000000364px var(--padding-11xl-5)
      20.299999999999272px;
    position: relative;
    gap: 20.09999999999991px;
    font-size: var(--font-size-base-4);
  }
  .data-output {
    gap: 16.59999999999991px;
    font-size: var(--font-size-smi-2);
  }
  .decision-merger,
  .tree-modifier {
    position: absolute;
    margin: 0 !important;
  }
  .tree-modifier {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 18.28px;
    background-color: var(--color-gray-1100);
    backdrop-filter: blur(101.56px);
    border: 0.5px solid var(--color-gray-700);
    box-sizing: border-box;
    z-index: 1;
  }
  .decision-merger {
    height: 69.2px;
    width: 69.1px;
    top: -42.8px;
    left: 86.2px;
    border-radius: 50%;
    background-color: var(--color-plum-100);
  }
  .lets-impressed-with {
    position: relative;
    line-height: 24.1px;
    font-weight: 500;
    background: linear-gradient(90.21deg, #fff, #ddb8ff), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
  }
  .radio-button-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .lets-create-yours {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 102px;
  }
  .result-collider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs-5) 0 0;
  }
  .div4 {
    position: relative;
    font-size: 16.7px;
    line-height: 17px;
    font-weight: 600;
    color: var(--color-black);
    display: inline-block;
    min-width: 17px;
  }
  .pattern-enhancer,
  .table-container,
  .tree-modifier-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .pattern-enhancer {
    border-radius: 40.63px;
    background-color: var(--color-mediumslateblue-200);
    flex-direction: row;
    padding: 10.400000000000093px 20.299999999999272px 10.5px
      21.100000000000364px;
    gap: 9.399999999999636px;
    z-index: 2;
  }
  .table-container,
  .tree-modifier-parent {
    align-self: stretch;
  }
  .table-container {
    flex-direction: row;
    padding: 0 37px 0 35.600000000000364px;
    font-size: var(--font-size-xs-4);
    font-family: var(--font-plus-jakarta-sans);
  }
  .tree-modifier-parent {
    flex-direction: column;
    padding: 42.80000000000018px 41.20000000000073px 42.69999999999982px
      41.79999999999927px;
    position: relative;
    gap: 19.5px;
    font-size: var(--font-size-base-4);
  }
  .function-caller,
  .loop-controller {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .loop-controller {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 27.700000000000045px;
  }
  .function-caller {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 var(--padding-xs) 58.5px;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    font-family: var(--font-figtree);
  }
  .shape-container {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-5xl) var(--br-5xl) 0 0;
    background: linear-gradient(175.13deg, rgba(74, 74, 74, 0.37), transparent);
    border: 1px solid var(--color-gray-1200);
    box-sizing: border-box;
    z-index: 1;
  }
  .be-creative3,
  .be-simple3 {
    margin: 0;
  }
  .be-simple-be-container3 {
    margin: 0;
    width: 263px;
    position: relative;
    font-size: inherit;
    line-height: 60px;
    font-weight: 800;
    font-family: inherit;
    background: linear-gradient(
        97.37deg,
        #000,
        rgba(122, 122, 122, 0.53) 28.24%,
        #404040
      ),
      #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    z-index: 2;
  }
  .be-simple-be-creative-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-12xl) var(--padding-base);
    text-align: center;
  }
  .got-an-idea3 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 106px;
    flex-shrink: 0;
    debug_commit: f6aba90;
    z-index: 2;
  }
  .got-an-idea-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-46xl) 0 65.89999999999964px;
  }
  .image-editor {
    height: 200px;
    width: 200px;
    position: absolute;
    margin: 0 !important;
    top: -92.6px;
    right: -44px;
    border-radius: 50%;
    background-color: var(--color-plum-200);
    filter: blur(300px);
  }
  .frame-child83 {
    height: 64.2px;
    width: 237px;
    position: relative;
    border-radius: 49.54px;
    background-color: var(--color-gray-1400);
    border: 1.1px solid var(--color-gray-1300);
    box-sizing: border-box;
    display: none;
  }
  .lets-get-in3 {
    position: relative;
    font-size: var(--font-size-base-8);
    font-weight: 600;
    font-family: var(--font-plus-jakarta-sans);
    color: var(--color-dimgray-200);
    text-align: left;
  }
  .link-organizer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.400000000000091px 0 0;
  }
  .emoji-dizzy-icon3 {
    height: 22.8px;
    width: 22.5px;
    position: relative;
    min-height: 23px;
  }
  .button-creator,
  .rectangle-parent42 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button-creator {
    cursor: pointer;
    border: 0;
    padding: 14.599999999999907px 29.299999999999272px 14.699999999999818px;
    background-color: var(--color-white);
    border-radius: 56.29px;
    gap: 12.900000000001455px;
    z-index: 1;
  }
  .rectangle-parent42 {
    border-radius: 49.54px;
    background-color: var(--color-gray-1400);
    border: 1.1px solid var(--color-gray-1300);
    padding: 6.200000000000273px var(--padding-7xs) 5.899999999999636px;
    flex-shrink: 0;
    debug_commit: f6aba90;
    z-index: 2;
  }
  .layer-handler {
    align-self: stretch;
    flex-direction: row;
    position: relative;
  }
  .color-palette,
  .frame-parent53,
  .layer-handler {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent53 {
    flex: 1;
    flex-direction: column;
    gap: 14.599999999999907px;
  }
  .color-palette {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-25xl) 16.200000000000273px;
    font-size: var(--font-size-lg-6);
  }
  .shape-transformer,
  .shape-transformer-child {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .shape-transformer-child {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-darkslategray-300);
    z-index: 2;
  }
  .shape-transformer {
    height: 16.7px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 15.699999999999818px;
  }
  .layer-1-icon7 {
    align-self: stretch;
    height: 32.8px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 2;
  }
  .design-studio4 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 94px;
    z-index: 2;
  }
  .fill-handler,
  .spacing-manager {
    display: flex;
    align-items: flex-start;
  }
  .spacing-manager {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
  }
  .fill-handler {
    width: 150.2px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10.900000000000093px;
  }
  .fill-handler-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-12xs) 26.59999999999991px 0;
    font-size: var(--font-size-mini-7);
    color: var(--color-white);
  }
  .about-us3,
  .explore3,
  .work3 {
    position: relative;
    display: inline-block;
    z-index: 2;
  }
  .explore3 {
    margin: 0;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    min-width: 68px;
    white-space: nowrap;
  }
  .about-us3,
  .work3 {
    min-width: 38px;
  }
  .about-us3 {
    min-width: 65px;
    white-space: nowrap;
  }
  .progress-bar-builder {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xl);
  }
  .popup-creator {
    height: 200px;
    width: 200px;
    position: absolute;
    margin: 0 !important;
    top: -119px;
    right: -85px;
    border-radius: 50%;
    background-color: var(--color-royalblue);
    filter: blur(300px);
  }
  .follow-us4 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    white-space: nowrap;
    z-index: 2;
  }
  .scrollbar-manager,
  .toggle-switch {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .scrollbar-manager {
    width: 105px;
    flex-direction: row;
    position: relative;
    font-size: var(--font-size-xl);
    color: var(--color-darkgray-300);
  }
  .toggle-switch {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-21xl);
  }
  .blogs3,
  .contact-us6 {
    position: relative;
    display: inline-block;
    min-width: 40px;
    z-index: 2;
  }
  .contact-us6 {
    min-width: 79px;
    white-space: nowrap;
  }
  .collapsible-container {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-7xl);
    font-size: var(--font-size-base);
    color: var(--color-white);
  }
  .collapsible-container,
  .grid-system,
  .row-column-designer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .row-column-designer {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-5xl);
  }
  .grid-system {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-mini) 0 var(--padding-3xs);
    font-size: var(--font-size-xl);
    color: var(--color-darkgray-300);
  }
  .social-icons15 {
    height: 19px;
    width: 19px;
    position: relative;
    min-height: 19px;
    z-index: 2;
  }
  .component-2-icon3,
  .social-icons16,
  .social-icons17 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .component-2-icon3,
  .social-icons16,
  .social-icons17,
  .social-icons18,
  .social-icons19,
  .table-builder-child {
    height: 19px;
    width: 19px;
    position: relative;
    min-height: 19px;
    z-index: 2;
  }
  .social-icons19,
  .table-builder-child {
    overflow: hidden;
    flex-shrink: 0;
  }
  .accordion-organizer,
  .table-builder {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .table-builder {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .accordion-organizer {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 var(--padding-sm) var(--padding-7xl) var(--padding-3xs);
  }
  .marasih-studio-all3 {
    position: relative;
    z-index: 2;
  }
  .validation-engine {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-29xl) 0 var(--padding-30xl);
    font-size: var(--font-size-xs);
    color: var(--color-darkslategray-200);
  }
  .contact-us5,
  .shape-container-parent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .shape-container-parent {
    align-self: stretch;
    align-items: flex-start;
    padding: var(--padding-14xl) var(--padding-xs) var(--padding-22xl);
    gap: var(--gap-5xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-lightgray-200);
    font-family: var(--font-figtree);
  }
  .contact-us5 {
    width: 100%;
    background-color: var(--color-black);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: var(--padding-14xl) var(--padding-smi) 0;
    gap: 30.5px;
    letter-spacing: normal;
  }
}
