.mobile-menu {
    width: 100%;
    min-height: auto; /* Ensure the menu covers the entire viewport height */
    background-color: #000000; /* Black background */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    font-family: 'Figtree', sans-serif; /* Apply Figtree font to the entire menu */
}
  
  .left-top-icon {
    margin-top: 24px;
    margin-left: 10px;
    width: 102px;

  }
  
  .menu-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  
  .menu-item {
    font-size: 24px;
    color: #939393; /* Link color */
    margin-bottom: 10px;
    font-weight: 600;
    padding: 15px 0 15px 0;
  }
  .sociall{
    margin-left: 20px;

  }
  .menu-divider {
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: -14px;
  }
  
  .right-top-icon {
   
    margin-top: 24px;
    margin-right: 18px;

    cursor: pointer;
    position: absolute; /* Position the icon absolutely */
    top: 9px;
    right: 0; /* Align the icon to the right */
  }
  
  .social-icons-container{
    margin-top: 30px;
  }

  .offcanvas {
    transition: transform 1.5s ease !important; /* Adjust the duration (e.g., 3s) as needed */
  }
  
  .offcanvas:not(.show) {
    transition: transform 2s ease !important; /* Adjust the duration (e.g., 3s) as needed */
  }
  
  
  .offcanvas.show {
    transform: translateY(0%);
  }
  
  
  