.new-footer-css{

    .new-footer-css{
        color: #000;
        background-color: #000;
    }
    .ellipse-parent16
    {
        color: #000 !important;
        background-color: #000 !important;

    }
    .logic-tree-icon {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        left: 0;
        top: 0;
        transform: scale(2.414);
      }
      .wrapper-logic-tree {
        width: 495px;
        height: 495px;
        position: absolute;
        margin: 0 !important;
        top: 214px;
        left: -56px;
        border-radius: 20.51px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;
      }
      .layer-1-icon17 {
        align-self: stretch;
        height: 43px;
        position: relative;
        max-width: 100%;
        overflow: hidden;
        flex-shrink: 0;
      }
      .conditional-split {
        width: 203px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 11px 0 0;
        box-sizing: border-box;
      }
      .home2 {
        position: relative;
        font-weight: 600;
        display: inline-block;
        min-width: 73px;
      }
      .processing-unit {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 17px 0 0;
      }
      .work9 {
        position: relative;
        font-weight: 600;
        display: inline-block;
        min-width: 63px;
      }
      .processing-unit1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 17px 0 0;
      }
      .about-us9 {
        position: relative;
        font-weight: 600;
        display: inline-block;
        min-width: 107px;
        white-space: nowrap;
      }
      .processing-unit2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 17px 0 0;
      }
      .frame-child176 {
        height: 65px;
        width: 230px;
        position: relative;
        border-radius: 48px;
        background-color: #dbddff;
        border: 1px solid #5a61ff;
        box-sizing: border-box;
        display: none;
      }
      .contact1 {
        position: relative;
        font-size: 26px;
        font-weight: 600;
        font-family: "Plus Jakarta Sans";
        color: #5a61ff;
        text-align: left;
        display: inline-block;
        min-width: 104px;
        z-index: 1;
      }
      .rectangle-parent91 {
        cursor: pointer;
        border: 1px solid #5a61ff;
        padding: 16px 63px;
        background-color: #dbddff;
        border-radius: 48px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
      }
      .rectangle-parent91:hover {
        background-color: #c2c4e6;
        border: 1px solid #737aff;
        box-sizing: border-box;
      }
      .output-port {
        justify-content: flex-start;
        gap: 80px;
      }
      .conditional-split-parent,
      .output-port,
      .value-collector {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        max-width: 100%;
      }
      .conditional-split-parent {
        flex: 1;
        justify-content: space-between;
        gap: 20px;
      }
      .value-collector {
        width: 1757px;
        justify-content: flex-end;
        padding: 0 68px 50px 69px;
        box-sizing: border-box;
        text-align: left;
        font-size: 26px;
        color: #939393;
        font-family: Figtree;
      }
      .unleash-your-brands1 {
        width: 626px;
        position: relative;
        line-height: 63px;
        text-transform: uppercase;
        display: inline-block;
        background: linear-gradient(90.32deg, #90a8ff, #37f2b7), #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .unleash-your-brands-story-container {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 0 20px;
        font-family: "Space Grotesk";
      }
      .wrapper-star-1-child2 {
        height: 100%;
        width: 100%;
        object-fit: contain;
        position: absolute;
        left: 0;
        top: 0;
        transform: scale(2.509);
      }
      .wrapper-star-14 {
        height: 464px;
        width: 464px;
        position: absolute;
        margin: 0 !important;
        top: -116px;
        right: -232px;
        border-radius: 20.51px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;
      }
      .digital-realities1 {
        background: linear-gradient(90.13deg, #ecdb68, #fff0b4 54.5%, #b78700);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .a-message-away-container1 {
        margin: 0;
        flex: 1;
        position: relative;
        font-size: inherit;
        line-height: 120px;
        text-transform: uppercase;
        font-weight: 500;
        font-family: inherit;
        display: inline-block;
        max-width: 100%;
        z-index: 1;
      }
      .wrapper-star-1-parent {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        max-width: 100%;
        font-size: 80px;
      }
      .together-well-craft1 {
        align-self: stretch;
        position: relative;
        line-height: 42px;
      }
      .frame-child177 {
        height: 126px;
        width: 561px;
        position: relative;
        border-radius: 88px;
        background-color: rgba(90, 97, 255, 0.15);
        border: 2px solid rgba(90, 97, 255, 0.26);
        box-sizing: border-box;
        display: none;
        max-width: 100%;
      }
      .lets-create-magic1 {
        position: relative;
        font-weight: 600;
      }
      .pathway-segment {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 4px 0 0;
      }
      .div7 {
        height: 43px;
        position: relative;
        font-size: 43px;
        font-weight: 600;
        color: #000;
        display: inline-block;
        min-width: 43px;
      }
      .pathway-segment-parent {
        border-radius: 100px;
        background-color: #5a61ff;
        justify-content: flex-start;
        padding: 28px 100px;
        gap: 30px;
        z-index: 1;
      }
      .leaf-cluster-inner,
      .pathway-segment-parent,
      .rectangle-parent92 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        box-sizing: border-box;
        max-width: 100%;
      }
      .rectangle-parent92 {
        border-radius: 88px;
        background-color: rgba(90, 97, 255, 0.15);
        border: 2px solid rgba(90, 97, 255, 0.26);
        justify-content: flex-start;
        padding: 13px 19px 14px;
      }
      .leaf-cluster-inner {
        align-self: stretch;
        justify-content: center;
        padding: 0 20px 0 21px;
        text-align: left;
        color: #fff;
        font-family: "Plus Jakarta Sans";
      }
      .leaf-cluster {
        width: 852px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 80px;
        max-width: 100%;
      }
      .leaf-cluster-wrapper {
        align-self: stretch;
        flex-direction: row;
        justify-content: center;
        padding: 0 20px;
        box-sizing: border-box;
        font-size: 28px;
        color: #e8e8e8;
      }
      .contact-us-inner14,
      .frame-parent88,
      .leaf-cluster-wrapper {
        display: flex;
        align-items: flex-start;
        max-width: 100%;
      }
      .frame-parent88 {
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
        gap: 44.5px;
      }
      .contact-us-inner14 {
        width: 1757px;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0 68px 0 69px;
        box-sizing: border-box;
        text-align: center;
        font-size: 42px;
        color: #fff;
        font-family: Figtree;
      }
      .data-pool,
      .frame-child178 {
        position: absolute;
        margin: 0 !important;
      }
      .frame-child178 {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 45px;
        background-color: rgba(17, 17, 17, 0.4);
        backdrop-filter: blur(300px);
        border: 1px solid rgba(145, 82, 189, 0.49);
        box-sizing: border-box;
        z-index: 1;
      }
      .data-pool {
        height: 261px;
        width: 261px;
        bottom: -108px;
        left: -90px;
        border-radius: 50%;
        background-color: #b494ce;
      }
      .lets-create-special2 {
        margin: 0;
        position: relative;
        font-size: inherit;
        line-height: 63px;
        font-weight: 700;
        font-family: inherit;
        z-index: 2;
      }
      .data-pool-parent {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        max-width: 100%;
      }
      .frame-child179,
      .frame-wrapper46 {
        box-sizing: border-box;
        max-width: 100%;
      }
      .frame-wrapper46 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 0 5px;
        font-size: 52px;
        color: #fff;
        font-family: "Space Grotesk";
      }
      .frame-child179 {
        height: 108px;
        width: 685px;
        position: relative;
        border-radius: 38px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(124, 100, 147, 0.4);
        display: none;
      }
      .your-name1 {
        width: 171px;
        border: 0;
        outline: 0;
        font-weight: 600;
        font-family: Figtree;
        font-size: 32px;
        background-color: transparent;
        height: 48px;
        position: relative;
        line-height: 48px;
        color: #6b6b6b;
        text-align: left;
        display: inline-block;
        padding: 0;
        z-index: 1;
      }
      .frame-child180,
      .rectangle-parent94 {
        border-radius: 38px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(124, 100, 147, 0.4);
        box-sizing: border-box;
        max-width: 100%;
      }
      .rectangle-parent94 {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 30px 50px;
        min-width: 445px;
        z-index: 2;
      }
      .frame-child180 {
        height: 108px;
        width: 685px;
        position: relative;
        display: none;
      }
      .your-email1 {
        width: 170px;
        border: 0;
        outline: 0;
        font-weight: 600;
        font-family: Figtree;
        font-size: 32px;
        background-color: transparent;
        height: 48px;
        position: relative;
        line-height: 48px;
        color: #6b6b6b;
        text-align: left;
        display: inline-block;
        padding: 0;
        z-index: 1;
      }
      .feature-mapping,
      .rectangle-parent95 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100%;
      }
      .rectangle-parent95 {
        flex: 1;
        border-radius: 38px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(124, 100, 147, 0.4);
        box-sizing: border-box;
        padding: 30px 50px;
        min-width: 445px;
        z-index: 2;
      }
      .feature-mapping {
        align-self: stretch;
        flex-wrap: wrap;
        gap: 70px;
      }
      .frame-child181 {
        height: 108px;
        width: 685px;
        position: relative;
        border-radius: 38px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(124, 100, 147, 0.4);
        box-sizing: border-box;
        display: none;
        max-width: 100%;
      }
      .your-phone-number1 {
        width: 287px;
        border: 0;
        outline: 0;
        font-weight: 600;
        font-family: Figtree;
        font-size: 32px;
        background-color: transparent;
        height: 48px;
        position: relative;
        line-height: 48px;
        color: #6b6b6b;
        text-align: left;
        display: inline-block;
        padding: 0;
        z-index: 1;
      }
      .frame-child182,
      .rectangle-parent96 {
        border-radius: 38px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(124, 100, 147, 0.4);
        box-sizing: border-box;
        max-width: 100%;
      }
      .rectangle-parent96 {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 30px 50px;
        min-width: 445px;
        z-index: 2;
      }
      .frame-child182 {
        height: 108px;
        width: 685px;
        position: relative;
        display: none;
      }
      .your-organisation-name1 {
        width: 344px;
        border: 0;
        outline: 0;
        font-weight: 600;
        font-family: Figtree;
        font-size: 32px;
        background-color: transparent;
        height: 48px;
        position: relative;
        line-height: 48px;
        color: #6b6b6b;
        text-align: left;
        display: inline-block;
        max-width: 100%;
        padding: 0;
        z-index: 1;
      }
      .data-bucket,
      .feature-mapping1,
      .rectangle-parent97 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100%;
      }
      .rectangle-parent97 {
        flex: 1;
        border-radius: 38px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(124, 100, 147, 0.4);
        box-sizing: border-box;
        flex-direction: row;
        padding: 30px 50px;
        min-width: 445px;
        z-index: 2;
      }
      .data-bucket,
      .feature-mapping1 {
        align-self: stretch;
      }
      .feature-mapping1 {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 70px;
      }
      .data-bucket {
        flex-direction: column;
        gap: 32px;
      }
      .leaf-mapping {
        width: 21px;
        height: 21px;
        position: relative;
        border-radius: 50%;
        background-color: #5a61ff;
        z-index: 2;
      }
      .trunk-mapping {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 13px 0 0;
      }
      .select-your-project2 {
        position: relative;
        line-height: 48px;
        font-weight: 600;
        z-index: 2;
      }
      .expansion-mapping,
      .subtree-mapping {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100%;
      }
      .expansion-mapping {
        gap: 20px;
      }
      .subtree-mapping {
        padding: 0 9px;
        box-sizing: border-box;
      }
      .frame-child183 {
        height: 90px;
        width: 270px;
        position: relative;
        border-radius: 100px;
        background-color: #5a61ff;
        border: 1px solid rgba(124, 100, 147, 0.5);
        box-sizing: border-box;
        display: none;
      }
      .mobile-app1 {
        position: relative;
        font-size: 26px;
        line-height: 39px;
        font-family: Figtree;
        color: #fff;
        text-align: left;
        z-index: 1;
      }
      .rectangle-parent98 {
        cursor: pointer;
        border: 1px solid rgba(124, 100, 147, 0.5);
        padding: 25px 69px 26px;
        background-color: #5a61ff;
        flex: 0.5702;
        border-radius: 100px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        min-width: 175px;
        white-space: nowrap;
        z-index: 2;
      }
      .frame-child184,
      .rectangle-parent98:hover,
      .rectangle-parent99:hover {
        background-color: #737aff;
        border: 1px solid rgba(150, 125, 173, 0.5);
        box-sizing: border-box;
      }
      .frame-child184 {
        height: 90px;
        width: 270px;
        position: relative;
        border-radius: 100px;
        background-color: #5a61ff;
        border: 1px solid rgba(124, 100, 147, 0.5);
        display: none;
      }
      .website1 {
        position: relative;
        font-size: 26px;
        line-height: 39px;
        display: inline-block;
        font-family: Figtree;
        color: #fff;
        text-align: left;
        min-width: 98px;
        z-index: 1;
      }
      .rectangle-parent99 {
        cursor: pointer;
        border: 1px solid rgba(124, 100, 147, 0.5);
        padding: 25px 20px 26px;
        background-color: #5a61ff;
        flex: 1;
        border-radius: 100px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        min-width: 175px;
        z-index: 2;
      }
      .decision-pathway,
      .nesting-mapping {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }
      .decision-pathway {
        align-self: stretch;
        flex-direction: row;
        gap: 22px;
      }
      .nesting-mapping {
        flex: 1;
        flex-direction: column;
        gap: 31px;
        min-width: 365px;
        max-width: 100%;
      }
      .frame-child185 {
        height: 90px;
        width: 270px;
        position: relative;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(124, 100, 147, 0.5);
        box-sizing: border-box;
        display: none;
      }
      .branding1 {
        position: relative;
        font-size: 26px;
        line-height: 39px;
        display: inline-block;
        font-family: Figtree;
        color: #fff;
        text-align: left;
        min-width: 108px;
        z-index: 1;
      }
      .rectangle-parent100 {
        cursor: pointer;
        border: 1px solid rgba(124, 100, 147, 0.5);
        padding: 25px 20px 26px;
        background-color: rgba(255, 255, 255, 0.05);
        width: 270px;
        border-radius: 100px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        z-index: 2;
      }
      .frame-child186,
      .rectangle-parent100:hover,
      .rectangle-parent101:hover,
      .rectangle-parent102:hover {
        background-color: rgba(230, 230, 230, 0.05);
        border: 1px solid rgba(150, 125, 173, 0.5);
        box-sizing: border-box;
      }
      .frame-child186 {
        height: 90px;
        width: 270px;
        position: relative;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(124, 100, 147, 0.5);
        display: none;
      }
      .social-media1 {
        position: relative;
        font-size: 26px;
        line-height: 39px;
        font-family: Figtree;
        color: #fff;
        text-align: left;
        z-index: 1;
      }
      .frame-child187,
      .rectangle-parent101 {
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(124, 100, 147, 0.5);
      }
      .rectangle-parent101 {
        cursor: pointer;
        padding: 25px 58px 26px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        white-space: nowrap;
        z-index: 2;
      }
      .frame-child187 {
        height: 90px;
        width: 270px;
        position: relative;
        box-sizing: border-box;
        display: none;
      }
      .other1 {
        position: relative;
        font-size: 26px;
        line-height: 39px;
        display: inline-block;
        font-family: Figtree;
        color: #fff;
        text-align: left;
        min-width: 71px;
        z-index: 1;
      }
      .nesting-mapping-parent,
      .rectangle-parent102 {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .rectangle-parent102 {
        cursor: pointer;
        border: 1px solid rgba(124, 100, 147, 0.5);
        padding: 25px 20px 26px;
        background-color: rgba(255, 255, 255, 0.05);
        width: 270px;
        border-radius: 100px;
        box-sizing: border-box;
        align-items: flex-start;
        z-index: 2;
      }
      .nesting-mapping-parent {
        align-self: stretch;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 22px;
        max-width: 100%;
      }
      .iterator {
        width: 21px;
        height: 21px;
        position: relative;
        border-radius: 50%;
        background-color: #5a61ff;
        z-index: 2;
      }
      .condition-checker1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 13px 0 0;
      }
      .select-your-project3 {
        position: relative;
        line-height: 48px;
        font-weight: 600;
        z-index: 2;
      }
      .condition-checker-parent,
      .error-handler2 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100%;
      }
      .condition-checker-parent {
        gap: 20px;
      }
      .error-handler2 {
        padding: 0 9px;
        box-sizing: border-box;
      }
      .less-than-5k1 {
        position: relative;
        font-size: 26px;
        line-height: 39px;
        font-family: Figtree;
        color: #fff;
        text-align: left;
      }
      .less-than-5k-wrapper {
        cursor: pointer;
        border: 1px solid rgba(124, 100, 147, 0.5);
        padding: 25px 69px;
        background-color: #5a61ff;
        flex: 0.6288;
        border-radius: 100px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        min-width: 199px;
        white-space: nowrap;
        z-index: 2;
      }
      .less-than-5k-wrapper:hover {
        background-color: #737aff;
        border: 1px solid rgba(150, 125, 173, 0.5);
        box-sizing: border-box;
      }
      .k-to-10k1 {
        position: relative;
        font-size: 26px;
        line-height: 39px;
        font-family: Figtree;
        color: #fff;
        text-align: left;
      }
      .k-to-10k-wrapper {
        cursor: pointer;
        border: 1px solid rgba(124, 100, 147, 0.5);
        padding: 25px 20px;
        background-color: #141414;
        flex: 1;
        border-radius: 100px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        min-width: 199px;
        white-space: nowrap;
        z-index: 2;
      }
      .k-to-10k-wrapper:hover,
      .link-collector1:hover,
      .link-collector:hover {
        background-color: #474747;
        border: 1px solid rgba(150, 125, 173, 0.5);
        box-sizing: border-box;
      }
      .frame-parent90,
      .function-factory {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }
      .frame-parent90 {
        align-self: stretch;
        flex-direction: row;
        gap: 22px;
      }
      .function-factory {
        flex: 1;
        flex-direction: column;
        gap: 31px;
        min-width: 412px;
        max-width: 100%;
      }
      .k-to-25k1 {
        position: relative;
        font-size: 26px;
        line-height: 39px;
        font-family: Figtree;
        color: #fff;
        text-align: left;
      }
      .link-collector {
        cursor: pointer;
        border: 1px solid rgba(124, 100, 147, 0.5);
        padding: 25px 72px;
        background-color: #141414;
        border-radius: 100px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        white-space: nowrap;
        z-index: 2;
      }
      .k-to-45k1 {
        position: relative;
        font-size: 26px;
        line-height: 39px;
        font-family: Figtree;
        color: #fff;
        text-align: left;
      }
      .link-collector1 {
        cursor: pointer;
        border: 1px solid rgba(124, 100, 147, 0.5);
        padding: 25px 70px;
        background-color: #141414;
        border-radius: 100px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        white-space: nowrap;
        z-index: 2;
      }
      .image-analyzer {
        width: 1290px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        gap: 22px;
        max-width: 100%;
      }
      .frame-child188 {
        height: 264px;
        width: 1440px;
        position: relative;
        border-radius: 38px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(124, 100, 147, 0.4);
        box-sizing: border-box;
        display: none;
        max-width: 100%;
      }
      .write-about-your1 {
        position: relative;
        line-height: 48px;
        font-weight: 600;
        z-index: 3;
      }
      .rectangle-parent103 {
        align-self: stretch;
        flex: 1;
        border-radius: 38px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(124, 100, 147, 0.4);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 40px 50px;
        z-index: 2;
      }
      .frame-child189,
      .frame-wrapper47,
      .rectangle-parent103 {
        box-sizing: border-box;
        max-width: 100%;
      }
      .frame-wrapper47 {
        align-self: stretch;
        height: 277px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 0 13px;
        color: #6b6b6b;
      }
      .frame-child189 {
        height: 114px;
        width: 435px;
        position: relative;
        border-radius: 88px;
        background-color: rgba(128, 128, 128, 0.15);
        border: 2px solid rgba(121, 121, 121, 0.26);
        display: none;
      }
      .submit-application1 {
        position: relative;
        font-size: 28px;
        font-weight: 600;
        font-family: "Plus Jakarta Sans";
        color: #525252;
        text-align: left;
      }
      .submit-application-wrapper {
        cursor: pointer;
        border: 0;
        padding: 26px 52px;
        background-color: #fff;
        border-radius: 100px;
        justify-content: flex-start;
        white-space: nowrap;
        z-index: 1;
      }
      .submit-application-wrapper:hover {
        background-color: #e6e6e6;
      }
      .frame-wrapper48,
      .rectangle-parent104,
      .rectangle-parent93,
      .submit-application-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        box-sizing: border-box;
        max-width: 100%;
      }
      .rectangle-parent104 {
        border-radius: 88px;
        background-color: rgba(128, 128, 128, 0.15);
        border: 2px solid rgba(121, 121, 121, 0.26);
        justify-content: flex-start;
        padding: 13px 17.5px 14px;
        z-index: 2;
      }
      .frame-wrapper48,
      .rectangle-parent93 {
        align-self: stretch;
        justify-content: center;
        padding: 0 0 0 1px;
      }
      .rectangle-parent93 {
        flex-direction: column;
        justify-content: flex-start;
        padding: 90px 90px 68px;
        position: relative;
        gap: 55px;
      }
      .frame-child190,
      .frame-child191 {
        position: absolute;
        margin: 0 !important;
      }
      .frame-child190 {
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 45px;
        background-color: rgba(17, 17, 17, 0.4);
        backdrop-filter: blur(300px);
        border: 1px solid rgba(145, 82, 189, 0.49);
        box-sizing: border-box;
        z-index: 1;
      }
      .frame-child191 {
        height: 170px;
        width: 170px;
        bottom: -83px;
        left: -90px;
        border-radius: 50%;
        background-color: #b494ce;
      }
      .ping-us1 {
        margin: 0;
        position: relative;
        font-size: inherit;
        line-height: 69px;
        font-weight: 700;
        font-family: inherit;
        z-index: 2;
      }
      .ellipse-parent14 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
      }
      .marasihstudiogmailcom1 {
        position: relative;
        font-size: 32px;
        text-decoration: underline;
        line-height: 48px;
        font-weight: 600;
        font-family: Figtree;
        color: #b1b4ff;
        white-space: nowrap;
        z-index: 2;
      }
      .frame-parent91 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 61px 0 0;
        box-sizing: border-box;
        gap: 18px;
        max-width: 100%;
      }
      .follow-us10 {
        margin: 0;
        position: relative;
        font-size: inherit;
        line-height: 69px;
        font-weight: 700;
        font-family: inherit;
        z-index: 2;
      }
      .instagram1,
      .linkedin1 {
        position: relative;
        text-decoration: underline;
        line-height: 48px;
        font-weight: 600;
        z-index: 2;
      }
      .linkedin1 {
        display: inline-block;
        min-width: 123px;
      }
      .follow-us-parent,
      .instagram-group {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }
      .instagram-group {
        flex-direction: row;
        gap: 42px;
        font-size: 32px;
        color: #b1b4ff;
        font-family: Figtree;
      }
      .follow-us-parent {
        flex-direction: column;
        gap: 18px;
      }
      .behance1,
      .dribbble1,
      .twitter1 {
        position: relative;
        text-decoration: underline;
        line-height: 48px;
        font-weight: 600;
        display: inline-block;
        min-width: 124px;
        z-index: 2;
      }
      .behance1,
      .twitter1 {
        min-width: 126px;
      }
      .twitter1 {
        min-width: 106px;
      }
      .frame-child192 {
        height: 170px;
        width: 170px;
        position: absolute;
        margin: 0 !important;
        top: -105px;
        right: -90px;
        border-radius: 50%;
        background-color: #b494ce;
      }
      .figma1 {
        position: relative;
        text-decoration: underline;
        line-height: 48px;
        font-weight: 600;
        display: inline-block;
        min-width: 91px;
        z-index: 2;
      }
      .ellipse-parent15 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
      }
      .dribbble-parent,
      .rectangle-parent105 {
        display: flex;
        flex-direction: row;
        max-width: 100%;
      }
      .dribbble-parent {
        width: 573px;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        font-size: 32px;
        color: #b1b4ff;
        font-family: Figtree;
      }
      .rectangle-parent105 {
        align-items: flex-end;
        justify-content: flex-start;
        padding: 83px 90px 82px;
        box-sizing: border-box;
        position: relative;
        gap: 51px;
        font-size: 46px;
        color: #fff;
        font-family: "Space Grotesk";
      }
      .decision-maker2,
      .frame-parent89 {
        display: flex;
        align-items: flex-start;
        max-width: 100%;
      }
      .frame-parent89 {
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
        gap: 55px;
      }
      .decision-maker2 {
        width: 1757px;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0 68px 0 69px;
        box-sizing: border-box;
        text-align: left;
        font-size: 32px;
        color: #b1b1b1;
        font-family: Figtree;
      }
      .frame-child193,
      .frame-child194 {
        position: absolute;
        margin: 0 !important;
      }
      .frame-child193 {
        width: 320px;
        height: 320px;
        right: 12px;
        bottom: 20px;
        border-radius: 50%;
        background-color: rgba(180, 148, 206, 0.7);
        filter: blur(211px);
    }
      .frame-child194 {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 70px 70px 0 0;
        background: linear-gradient(175.13deg, rgba(74, 74, 74, 0.37), transparent);
        border: 1px solid rgba(18, 18, 18, 0.54);
        box-sizing: border-box;
        z-index: 1;
      }
      .be-creative7,
      .be-simple7 {
        margin: 0;
      }
      .be-simple-be-container7 {
        margin: 0;
        width: 787px;
        position: relative;
        font-size: inherit;
        line-height: 145.5px;
        font-weight: 800;
        font-family: inherit;
        background: linear-gradient(
            97.37deg,
            #000,
            rgba(122, 122, 122, 0.53) 28.24%,
            #404040
          ),
          #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        min-width: 787px;
        max-width: 100%;
        z-index: 2;
      }
      .footer-apps{
        z-index: 34343;

      }
      .got-an-idea7 {
        position: relative;
        font-weight: 200;
        z-index: 2;
        color: #fff;
        margin-left: 425px;
      }
      .got-an-idea-wrapper3 {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 0 20px 0 21px;
      }
      .frame-child195 {
        height: 114px;
        width: 421px;
        position: relative;
        border-radius: 88px;
        background-color: rgba(128, 128, 128, 0.15);
        border: 2px solid rgba(121, 121, 121, 0.26);
        box-sizing: border-box;
        display: none;
        max-width: 100%;
      }
      .lets-get-in7 {
        position: relative;
        font-size: 28px;
        font-weight: 600;
        font-family: "Plus Jakarta Sans";
        color: #525252;
        text-align: left;
      }
      .stack-data-structure {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 2.7px 0 0;
        box-sizing: border-box;
        min-width: 151px;
      }
      .emoji-dizzy-icon7 {
        height: 40.5px;
        width: 40px;
        position: relative;
        min-height: 41px;
      }
      .stack-data-structure-parent {
        cursor: pointer;
        border: 0;
        padding: 26px 52px;
        background-color: #fff;
        flex: 1;
        border-radius: 100px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        box-sizing: border-box;
        gap: 23px;
        max-width: 100%;
        z-index: 1;
      }
      .frame-parent92,
      .rectangle-parent106 {
        align-self: stretch;
        justify-content: flex-start;
      }
      .rectangle-parent106 {
        border-radius: 88px;
        background-color: rgba(128, 128, 128, 0.15);
        border: 2px solid rgba(121, 121, 121, 0.26);
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 11px 11px 10.5px;
        max-width: 100%;
        z-index: 2;
      }
      .frame-parent92 {
        flex-direction: column;
        gap: 25px;
      }
      .be-simple-be-creative-group,
      .frame-parent92,
      .frame-wrapper49 {
        display: flex;
        align-items: flex-start;
        max-width: 100%;
      }
      .frame-wrapper49 {
        width: 421px;
        flex-direction: column;
        justify-content: flex-start;
        padding: 81px 0 0;
        box-sizing: border-box;
        min-width: 421px;
        font-size: 33px;
      }
      .be-simple-be-creative-group {
        align-self: stretch;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
      }
      .data-aggregator3,
      .shape-collection1 {
        align-self: stretch;
        box-sizing: border-box;
        max-width: 100%;
      }
      .shape-collection1 {
        flex: 1;
        position: relative;
        border-top: 1px solid #373737;
        z-index: 2;
      }
      .data-aggregator3 {
        height: 31px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 0 30px;
      }
      .frame-child196 {
        position: absolute;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        background-color: rgba(119, 124, 246, 0.4);
        filter: blur(210px);
        width: 320px;
      }
      .layer-1-icon18 {
        position: absolute;
        top: 160px;
        left: 68px;
        width: 260.5px;
        height: 57px;
        overflow: hidden;
        z-index: 2;
      }
      .ellipse-parent17 {
        height: 320px;
        width: 328.5px;
        position: absolute;
        margin: 0 !important;
        top: -236px;
        left: -165.7px;
      }
      .design-studio7 {
        position: relative;
        font-weight: 600;
        z-index: 2;
      }
      .frame-parent94,
      .frame-wrapper51 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }
      .frame-parent94 {
        flex-direction: row;
        position: relative;
      }
      .frame-wrapper51 {
        flex-direction: column;
        padding: 75px 30.3px 0 0;
        font-size: 25.6px;
        color: #fff;
      }
      .explore7,
      .work10 {
        display: inline-block;
      }
      .explore7 {
        position: relative;
        font-weight: 500;
        min-width: 112px;
        z-index: 2;
      }
      .work10 {
        min-width: 77px;
      }
      .about-us10,
      .work10 {
        position: relative;
        z-index: 2;
      }
      .blogs11 {
        display: inline-block;
        min-width: 82px;
      }
      .blogs11,
      .contact-us12 {
        position: relative;
        z-index: 2;
      }
      .explore-parent3,
      .work-parent3 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }
      .work-parent3 {
        flex-direction: row;
        gap: 40px;
        color: #fff;
      }
      .explore-parent3 {
        flex-direction: column;
        gap: 25px;
        max-width: 100%;
      }
      .follow-us11 {
        position: relative;
        font-weight: 500;
        z-index: 2;
      }
      .social-icons40,
      .social-icons41 {
        height: 40px;
        width: 40px;
        position: relative;
        min-height: 40px;
        z-index: 2;
      }
      .social-icons41 {
        overflow: hidden;
        flex-shrink: 0;
      }
      .social-icons-parent3 {
        width: 120px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
      }
      .follow-us-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 25px;
        min-width: 139px;
      }
      .component-2-icon8,
      .social-icons42 {
        overflow: hidden;
        flex-shrink: 0;
      }
      .component-2-icon8,
      .frame-child197,
      .social-icons42,
      .social-icons43,
      .social-icons44 {
        height: 40px;
        width: 40px;
        position: relative;
        min-height: 40px;
        z-index: 2;
      }
      .frame-child197,
      .social-icons44 {
        overflow: hidden;
        flex-shrink: 0;
      }
      .component-2-group,
      .frame-parent95 {
        display: flex;
        flex-direction: row;
        max-width: 100%;
      }
      .component-2-group {
        flex: 1;
        align-items: flex-start;
        justify-content: space-between;
        min-width: 200px;
        gap: 20px;
      }
      .frame-parent95 {
        width: 520px;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 21px;
      }
      .frame-parent93,
      .frame-wrapper50 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        max-width: 100%;
      }
      .frame-parent93 {
        justify-content: flex-start;
        gap: 80px;
      }
      .frame-wrapper50 {
        align-self: stretch;
        justify-content: center;
        padding: 0 0 0 24px;
        box-sizing: border-box;
        font-size: 33px;
        color: #9a9a9a;
      }
      .marasih-studio-all7 {
        position: relative;
        z-index: 2;
      }
      .marasih-studio-all-rights-res-wrapper2 {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 0 0 0 2px;
        font-size: 22px;
        color: #41324e;
      }
      .contact-us11,
      .ellipse-parent16 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
      }
      .ellipse-parent16 {
        width: 1757px;
        align-items: flex-start;
        padding: 120px 68px 50px;
        gap: 120px;
        max-width: 100%;
        text-align: left;
        font-size: 120px;
        color: #ccc;
        font-family: Figtree;
      }
      .contact-us11 {
        width: 100%;
        background-color: #000;
        overflow: hidden;
        align-items: center;
        padding: 49px 21px 0 20px;
        gap: 190px;
        letter-spacing: normal;
      }
      @media screen and (max-width: 1725px) {
        .rectangle-parent105 {
          flex-wrap: wrap;
        }
        .be-simple-be-container7,
        .frame-wrapper49 {
          flex: 1;
        }
        .be-simple-be-creative-group,
        .frame-parent93 {
          flex-wrap: wrap;
        }
      }
      @media screen and (max-width: 1325px) {
        .output-port {
          display: none;
        }
        .contact-us-inner14,
        .rectangle-parent103,
        .value-collector {
          padding-left: 34px;
          padding-right: 34px;
          box-sizing: border-box;
        }
        .rectangle-parent103 {
          padding-left: 25px;
          padding-right: 25px;
        }
        .rectangle-parent93 {
          padding: 58px 45px 44px;
          box-sizing: border-box;
        }
        .decision-maker2,
        .rectangle-parent105 {
          padding-left: 45px;
          padding-right: 45px;
          box-sizing: border-box;
        }
        .decision-maker2 {
          padding-left: 34px;
          padding-right: 34px;
        }
        .be-simple-be-container7 {
          min-width: 100%;
        }
        .ellipse-parent16 {
          padding: 78px 34px 32px;
          box-sizing: border-box;
        }
        .contact-us11 {
          gap: 95px 190px;
        }
      }
      @media screen and (max-width: 900px) {
        .output-port {
          gap: 80px 40px;
        }
        .unleash-your-brands1 {
          font-size: 34px;
          line-height: 50px;
        }
        .a-message-away-container1 {
          font-size: 40px;
          line-height: 72px;
        }
        .div7 {
          font-size: 34px;
        }
        .pathway-segment-parent {
          flex-wrap: wrap;
          gap: 30px 15px;
          padding-left: 50px;
          padding-right: 50px;
          box-sizing: border-box;
        }
        .leaf-cluster {
          gap: 40px 80px;
        }
        .frame-parent88 {
          gap: 22px 44.5px;
        }
        .lets-create-special2 {
          font-size: 42px;
          line-height: 50px;
        }
        .your-name1 {
          font-size: 26px;
          line-height: 38px;
        }
        .rectangle-parent94 {
          min-width: 100%;
        }
        .your-email1 {
          font-size: 26px;
          line-height: 38px;
        }
        .rectangle-parent95 {
          min-width: 100%;
        }
        .feature-mapping {
          gap: 35px;
        }
        .your-phone-number1 {
          font-size: 26px;
          line-height: 38px;
        }
        .rectangle-parent96 {
          min-width: 100%;
        }
        .your-organisation-name1 {
          font-size: 26px;
          line-height: 38px;
        }
        .rectangle-parent97 {
          min-width: 100%;
        }
        .feature-mapping1 {
          gap: 35px;
        }
        .data-bucket {
          gap: 16px 32px;
        }
        .select-your-project2 {
          font-size: 26px;
          line-height: 38px;
        }
        .decision-pathway {
          flex-wrap: wrap;
        }
        .nesting-mapping {
          gap: 15px 31px;
          min-width: 100%;
        }
        .select-your-project3 {
          font-size: 26px;
          line-height: 38px;
        }
        .frame-parent90 {
          flex-wrap: wrap;
        }
        .function-factory {
          gap: 15px 31px;
          min-width: 100%;
        }
        .write-about-your1 {
          font-size: 26px;
          line-height: 38px;
        }
        .rectangle-parent93 {
          gap: 27px 55px;
          padding: 38px 22px 29px;
          box-sizing: border-box;
        }
        .ping-us1 {
          font-size: 37px;
          line-height: 55px;
        }
        .marasihstudiogmailcom1 {
          font-size: 26px;
          line-height: 38px;
        }
        .follow-us10 {
          font-size: 37px;
          line-height: 55px;
        }
        .behance1,
        .dribbble1,
        .figma1,
        .instagram1,
        .linkedin1,
        .twitter1 {
          font-size: 26px;
          line-height: 38px;
        }
        .dribbble-parent {
          flex-wrap: wrap;
        }
        .rectangle-parent105 {
          gap: 51px 25px;
          padding-left: 22px;
          padding-right: 22px;
          box-sizing: border-box;
        }
        .frame-parent89 {
          gap: 27px 55px;
        }
        .be-simple-be-container7 {
          font-size: 48px;
          line-height: 87px;
        }
        .got-an-idea7 {
          font-size: 26px;
        }
        .frame-wrapper49 {
          min-width: 100%;
        }
        .about-us10,
        .blogs11,
        .contact-us12,
        .explore7,
        .work10 {
          font-size: 26px;
        }
        .work-parent3 {
          flex-wrap: wrap;
          gap: 40px 20px;
        }
        .follow-us11 {
          font-size: 26px;
        }
        .follow-us-group {
          flex: 1;
        }
        .frame-parent95 {
          flex-wrap: wrap;
        }
        .frame-parent93 {
          gap: 80px 40px;
        }
        .ellipse-parent16 {
          gap: 60px 120px;
          padding-top: 51px;
          padding-bottom: 21px;
          box-sizing: border-box;
        }
        .contact-us11 {
          gap: 47px 190px;
        }
      }
      @media screen and (max-width: 450px) {
        .output-port {
          gap: 80px 20px;
        }
        .unleash-your-brands1 {
          font-size: 25px;
          line-height: 38px;
        }
        .a-message-away-container1 {
          font-size: 24px;
          line-height: 48px;
        }
        .together-well-craft1 {
          font-size: 22px;
          line-height: 34px;
        }
        .lets-create-magic1 {
          font-size: 22px;
        }
        .div7 {
          font-size: 26px;
        }
        .pathway-segment-parent {
          padding-left: 20px;
          padding-right: 20px;
          box-sizing: border-box;
        }
        .leaf-cluster {
          gap: 20px 80px;
        }
        .lets-create-special2 {
          font-size: 31px;
          line-height: 38px;
        }
        .your-name1 {
          font-size: 19px;
          line-height: 29px;
        }
        .rectangle-parent94 {
          padding-left: 20px;
          padding-right: 20px;
          box-sizing: border-box;
        }
        .your-email1 {
          font-size: 19px;
          line-height: 29px;
        }
        .rectangle-parent95 {
          padding-left: 20px;
          padding-right: 20px;
          box-sizing: border-box;
        }
        .feature-mapping {
          gap: 17px;
        }
        .your-phone-number1 {
          font-size: 19px;
          line-height: 29px;
        }
        .rectangle-parent96 {
          padding-left: 20px;
          padding-right: 20px;
          box-sizing: border-box;
        }
        .your-organisation-name1 {
          font-size: 19px;
          line-height: 29px;
        }
        .rectangle-parent97 {
          padding-left: 20px;
          padding-right: 20px;
          box-sizing: border-box;
        }
        .feature-mapping1 {
          gap: 17px;
        }
        .select-your-project2 {
          font-size: 19px;
          line-height: 29px;
        }
        .rectangle-parent98 {
          padding-left: 20px;
          padding-right: 20px;
          box-sizing: border-box;
          flex: 1;
        }
        .branding1,
        .website1 {
          font-size: 21px;
          line-height: 31px;
        }
        .rectangle-parent101 {
          padding-left: 20px;
          padding-right: 20px;
          box-sizing: border-box;
        }
        .other1 {
          font-size: 21px;
          line-height: 31px;
        }
        .select-your-project3 {
          font-size: 19px;
          line-height: 29px;
        }
        .less-than-5k-wrapper {
          flex: 1;
        }
        .less-than-5k-wrapper,
        .link-collector,
        .link-collector1 {
          padding-left: 20px;
          padding-right: 20px;
          box-sizing: border-box;
        }
        .write-about-your1 {
          font-size: 19px;
          line-height: 29px;
        }
        .submit-application-wrapper {
          padding-left: 20px;
          padding-right: 20px;
          box-sizing: border-box;
        }
        .ping-us1 {
          font-size: 28px;
          line-height: 41px;
        }
        .marasihstudiogmailcom1 {
          font-size: 19px;
          line-height: 29px;
        }
        .frame-parent91 {
          padding-right: 30px;
          box-sizing: border-box;
        }
        .follow-us10 {
          font-size: 28px;
          line-height: 41px;
        }
        .instagram1,
        .linkedin1 {
          font-size: 19px;
          line-height: 29px;
        }
        .instagram-group {
          flex-wrap: wrap;
          gap: 42px 21px;
        }
        .behance1,
        .dribbble1,
        .figma1,
        .twitter1 {
          font-size: 19px;
          line-height: 29px;
        }
        .be-simple-be-container7 {
          font-size: 30px;
          line-height: 58px;
        }
        .got-an-idea7 {
          font-size: 20px;
        }
        .lets-get-in7 {
          font-size: 22px;
        }
        .stack-data-structure-parent {
          flex-wrap: wrap;
          padding-left: 20px;
          padding-right: 20px;
          box-sizing: border-box;
        }
        .about-us10,
        .blogs11,
        .contact-us12,
        .design-studio7,
        .explore7,
        .follow-us11,
        .work10 {
          font-size: 20px;
        }
        .component-2-group {
          flex-wrap: wrap;
          justify-content: center;
        }
        .frame-parent93 {
          gap: 80px 20px;
        }
        .marasih-studio-all7 {
          font-size: 18px;
        }
        .ellipse-parent16 {
          gap: 30px 120px;
        }
        .contact-us11 {
          gap: 24px 190px;
        }
      }
      
}