@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figma+Hand:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clash+Display+Variable:wght@600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-figtree: Figtree;
  --font-plus-jakarta-sans: "Plus Jakarta Sans";
  --font-space-grotesk: "Space Grotesk";
  --font-clash-display-variable: "Clash Display Variable";
  --font-figma-hand: "Figma Hand";

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-14xl: 33px;
  --font-size-xl: 20px;
  --font-size-7xl: 26px;
  --font-size-6xl-6: 25.6px;
  --font-size-9xl: 28px;
  --font-size-101xl: 120px;
  --font-size-11xl: 30px;
  --font-size-29xl: 48px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-27xl: 46px;
  --font-size-18xl: 37px;
  --font-size-2xl: 21px;
  --font-size-33xl: 52px;
  --font-size-12xl: 31px;
  --font-size-23xl: 42px;
  --font-size-15xl: 34px;
  --font-size-61xl: 80px;
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;
  --font-size-6xl: 25px;
  --font-size-47xl: 66px;
  --font-size-34xl: 53px;
  --font-size-8xl: 27px;
  --font-size-base: 16px;
  --font-size-151xl: 170px;
  --font-size-36xl: 55px;
  --font-size-25xl: 44px;
  --font-size-31xl: 50px;
  --font-size-19xl: 38px;
  --font-size-4xl: 23px;
  --font-size-41xl: 60px;
  --font-size-17xl: 36px;
  --font-size-5xl-7: 24.7px;
  --font-size-20xl-9: 39.9px;

  /* Colors */
  --color-black: #000;
  --color-darkslategray-100: #474747;
  --color-darkslategray-200: #41324e;
  --color-darkslategray-300: #373737;
  --color-darkgray-100: #b1b1b1;
  --color-darkgray-200: #b0b0b0;
  --color-darkgray-300: #9a9a9a;
  --color-white: #fff;
  --color-royalblue: rgba(119, 124, 246, 0.4);
  --color-gray-100: #939393;
  --color-gray-200: #818181;
  --color-gray-300: #181818;
  --color-gray-400: #141414;
  --color-gray-500: #111;
  --color-gray-600: #010101;
  --color-gray-700: rgba(28, 15, 38, 0);
  --color-gray-800: rgba(17, 17, 17, 0.5);
  --color-gray-900: rgba(255, 255, 255, 0.05);
  --color-gray-1000: rgba(17, 17, 17, 0.4);
  --color-gray-1100: rgba(18, 18, 18, 0.54);
  --color-gray-1200: rgba(121, 121, 121, 0.26);
  --color-gray-1300: rgba(128, 128, 128, 0.15);
  --color-gainsboro-100: #e8e8e8;
  --color-gainsboro-200: #e6e6e6;
  --color-gainsboro-300: #dfdfdf;
  --color-gainsboro-400: rgba(230, 230, 230, 0.05);
  --color-dimgray-100: #6b6b6b;
  --color-dimgray-200: #525252;
  --color-lightgray-100: #d0d0d0;
  --color-lightgray-200: #ccc;
  --color-plum-100: #b494ce;
  --color-plum-200: rgba(150, 125, 173, 0.5);
  --color-plum-300: rgba(180, 148, 206, 0.7);
  --color-cornflowerblue-100: #b1b4ff;
  --color-mediumpurple: rgba(145, 82, 189, 0.49);
  --color-slategray-100: rgba(124, 100, 147, 0.5);
  --color-slategray-200: rgba(124, 100, 147, 0.4);
  --color-mediumslateblue-100: #737aff;
  --color-mediumslateblue-200: #5a61ff;
  --color-mediumslateblue-300: rgba(90, 97, 255, 0.34);
  --color-mediumslateblue-400: rgba(90, 97, 255, 0.54);
  --color-mediumslateblue-500: rgba(90, 97, 255, 0.26);
  --color-mediumslateblue-600: rgba(90, 97, 255, 0.15);
  --color-silver-100: #c9c9c9;
  --color-lavender-100: #ecedff;
  --color-lavender-200: #e1dded;
  --color-lavender-300: rgba(219, 220, 255, 0.07);
  --color-darkslateblue-100: #6c5181;
  --color-darkslateblue-200: rgba(108, 81, 129, 0.47);
  --color-darkviolet-100: rgba(115, 3, 192, 0.49);
  --color-darkviolet-200: rgba(115, 3, 192, 0.31);
  --color-limegreen: #82ff6c;
  --color-lightgoldenrodyellow: #c0efc8;
  --color-lightsteelblue: #c4dfff;
  --color-aliceblue: #e6f3ff;
  --color-slateblue: rgba(71, 55, 158, 0.25);
  --color-whitesmoke: #ebebeb;
  --color-mediumorchid: #944ec9;

  /* Gaps */
  --gap-171xl: 190px;
  --gap-5xl: 24px;
  --gap-28xl: 47px;
  --gap-76xl: 95px;
  --gap-132xl: 151px;
  --gap-lgi: 19px;
  --gap-19xl: 38px;
  --gap-56xl: 75px;
  --gap-102xl: 121px;
  --gap-mini: 15px;
  --gap-11xl: 30px;
  --gap-41xl: 60px;
  --gap-61xl: 80px;
  --gap-xl: 20px;
  --gap-21xl: 40px;
  --gap-2xl: 21px;
  --gap-6xl: 25px;
  --gap-101xl: 120px;
  --gap-4xl: 23px;
  --gap-36xl: 55px;
  --gap-8xl: 27px;
  --gap-lg: 18px;
  --gap-3xl: 22px;
  --gap-12xl: 31px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-51xl: 70px;
  --gap-mid: 17px;
  --gap-16xl: 35px;
  --gap-15xl: 34px;
  --gap-30xl: 49px;
  --gap-xs: 12px;
  --gap-sm: 14px;

  /* Paddings */
  --padding-30xl: 49px;
  --padding-2xl: 21px;
  --padding-xl: 20px;
  --padding-101xl: 120px;
  --padding-50xl: 69px;
  --padding-31xl: 50px;
  --padding-49xl: 68px;
  --padding-32xl: 51px;
  --padding-59xl: 78px;
  --padding-15xl: 34px;
  --padding-13xl: 32px;
  --padding-5xl: 24px;
  --padding-12xl: 31px;
  --padding-2xs: 11px;
  --padding-7xl: 26px;
  --padding-33xl: 52px;
  --padding-71xl: 90px;
  --padding-3xl: 22px;
  --padding-26xl: 45px;
  --padding-4xs: 9px;
  --padding-19xl: 38px;
  --padding-39xl: 58px;
  --padding-smi: 13px;
  --padding-sm: 14px;
  --padding-21xl: 40px;
  --padding-6xl: 25px;
  --padding-52xl: 71px;
  --padding-51xl: 70px;
  --padding-4xl: 23px;
  --padding-11xl: 30px;
  --padding-9xl: 28px;
  --padding-81xl: 100px;
  --padding-12xs: 1px;
  --padding-base: 16px;
  --padding-9xs: 4px;
  --padding-3xs: 10px;
  --padding-34xl: 53px;
  --padding-28xl: 47px;
  --padding-77xl: 96px;
  --padding-37xl: 56px;
  --padding-61xl: 80px;
  --padding-62xl: 81px;
  --padding-36xl: 55px;
  --padding-17xl: 36px;
  --padding-46xl: 65px;
  --padding-8xl: 27px;
  --padding-23xl: 42px;
  --padding-60xl: 79px;
  --padding-91xl: 110px;
  --padding-736xl: 755px;
  --padding-472xl: 491px;
  --padding-300xl: 319px;
  --padding-41xl: 60px;
  --padding-612xl: 631px;
  --padding-417xl: 436px;
  --padding-264xl: 283px;
  --padding-83xl: 102px;
  --padding-82xl: 101px;
  --padding-47xl: 66px;

  /* Border radiuses */
  --br-69xl: 88px;
  --br-81xl: 100px;
  --br-51xl: 70px;
  --br-26xl: 45px;
  --br-19xl: 38px;
  --br-xl-5: 20.5px;
  --br-29xl: 48px;
  --br-21xl: 40px;
  --br-5xl: 24px;
}
